<%- include('partials/header') %>
    <!-- restaurant section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="text-center">
                <h1 class="search-h1">Ne Yemek İstersin? </h1>
                    <div class="user_option">
                        <a id="searchButton" class="order_online" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Aramaya Başla
                        </a>
                    </div>
                    <form action="/test" method="post">
                        <div class="row justify-content-center collapse" id="collapseSearch">
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="baseSelect" id="base-select" class="w-100 selectpicker" data-style="btn-select" title="Yemek Seçiniz..." data-dropup-auto="false" onchange="onBaseSelectChange()" multiple>
                                    <% baseFoods.forEach(function(baseFood) { %>
                                        <option value="<%= baseFood._id %>"><%= baseFood.name %></option>
                                      <% }) %>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="categorySelect" id="category-select" class="w-100 selectpicker" data-style="btn-select" title="Genel Yemek Seçiniz..." data-dropup-auto="false" onchange="onCategorySelectChange()" multiple >
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="foodSelect" id="food-select" class="w-100 selectpicker" data-style="btn-select" multiple title="Restoranda sizin için ne önemli?" data-dropup-auto="false" >
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <button class="w-50 btn btn-success" type="submit">Restoranları Filtrele</button>
                            </div>
                        </div>
                </form>
                <br><h2>Önerilen Restoranlar</h2>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/rosemary_anasayfa.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Rosemary Cafe</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star "></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/cafeDeSolis_anasayfa.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Cafe De Solis</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star "></i>
                                        <i class="fa fa-star "></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/tikirti_anasayfa.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Tıkırtı Cafe</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end restaurant section -->
<%- include('partials/footer') %>