<%- include('partials/header') %>
    <!-- restaurant section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="text-center">
                <h1 class="search-h1">Ne Yemek İstersin? </h1>
                    <div class="user_option">
                        <a id="searchButton" class="order_online" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Aramaya Başla
                        </a>
                    </div>
                    <form action="/test" method="post">
                        <div class="row justify-content-center collapse" id="collapseSearch">
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select id="base-select" class="w-100 selectpicker" data-style="btn-select" title="Yemek Seçiniz..." data-dropup-auto="false" onchange="onBaseSelectChange()" multiple>
                                    <% baseFoods.forEach(function(baseFood) { %>
                                        <option value="<%= baseFood._id %>"><%= baseFood.name %></option>
                                      <% }) %>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select id="category-select" class="w-100 selectpicker" data-style="btn-select" title="Genel Yemek Seçiniz..." data-dropup-auto="false" onchange="onCategorySelectChange()" multiple >
                                    <option value="">-- Select a category --</option>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select id="food-select" class="w-100 selectpicker" data-style="btn-select" multiple title="Restoranda sizin için ne önemli?" data-dropup-auto="false" >
                                    <option value="">-- Select food --</option>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <button class="w-50 btn btn-success" type="submit">Restoranları Filtrele</button>
                            </div>
                        </div>
                </form>
                <br><h2>Önerilen Restoranlar</h2>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/rosemary_anasayfa.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Rosemary Cafe</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star "></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/cafeDeSolis_anasayfa.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Cafe De Solis</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star "></i>
                                        <i class="fa fa-star "></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/tikirti_anasayfa.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Tıkırtı Cafe</h5>
                                    <div class="ratings">                            
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end restaurant section -->


    <script>
        const baseSelect = document.getElementById("base-select");
        const categorySelect = document.getElementById("category-select");
        const foodSelect = document.getElementById("food-select");
      
        function onBaseSelectChange() {
          const baseSelect = document.getElementById("base-select");
          const selectedBaseIds = [...baseSelect.selectedOptions].map(option => option.value); // get an array of selected base food IDs
      
          const categorySelect = document.getElementById("category-select");
          const foodSelect = document.getElementById("food-select");
      
          // disable the category and food selects while loading new data
          categorySelect.disabled = true;
          foodSelect.disabled = true;
      
          // send an AJAX request to get the categories for the selected base foods
          fetch(`/base/${selectedBaseIds.join(",")}/categories`)
            .then(response => response.json())
            .then(categories => {
              // populate the category select with the retrieved categories
              categorySelect.innerHTML = `<option value="">-- Select a category --</option>${categories.map(category => `<option value="${category._id}">${category.name}</option>`).join("")}`;
              console.log(categorySelect);
              // enable the category select
              categorySelect.disabled = false;
              $('#category-select').selectpicker('refresh');
            })
            .catch(error => console.log(error));
        }
      
      
        function onCategorySelectChange() {
      
          const baseSelect = document.getElementById("base-select");
          const selectedBaseIds = [...baseSelect.selectedOptions].map(option => option.value); // get an array of selected base food IDs
      
          const categorySelect = document.getElementById("category-select");
          const selectedCategoryIds = [...categorySelect.selectedOptions].map(option => option.value); // get an array of selected base food IDs
      
          const foodSelect = document.getElementById("food-select");
      
          // disable the category and food selects while loading new data
          //categorySelect.disabled = true;
          foodSelect.disabled = true;
      
          // send an AJAX request to get the categories for the selected base foods
          fetch(`/category/${selectedCategoryIds.join(",")}/${selectedBaseIds.join(",")}/foods`)
            .then(response => response.json())
            .then(foods => {
              // populate the category select with the retrieved categories
              foodSelect.innerHTML = `<option value="">-- Select a foods --</option>${foods.map(food => `<option value="${food._id}">${food.name}</option>`).join("")}`;
      
              // enable the category select
              foodSelect.disabled = false;
            })
            .catch(error => console.log(error));
      
          /*// foodSelect'i sıfırla
          foodSelect.innerHTML = '<option value="">-- Select a food --</option>';
          foodSelect.disabled = true;
      
          // seçilen category'nin id'sini al
          const categoryId = categorySelect.value;
      
          // categoryId boş değilse, ilgili yemekleri foodSelect'e ekle
          if (categoryId) {
            fetch(`/category/${categoryId}/foods`)
              .then((response) => response.json())
              .then((foods) => {
                foods.forEach((food) => {
                  const option = document.createElement('option');
                  option.value = food._id;
                  option.text = food.name;
                  foodSelect.add(option);
                });
                foodSelect.disabled = false;
              })
              .catch((err) => console.log(err));
          }*/
        }
      </script>
<%- include('partials/footer') %>