<%- include('partials/header') %>
    <!-- restaurant section -->
    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="text-center">
                <h1 class="search-h1">Ne Yemek İstersin?</h1>
                    <div class="user_option">
                        <a id="searchButton" class="order_online" data-bs-toggle="collapse" href="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Aramaya Başla
                        </a>
                    </div>
                    <form action="/test" method="post">
                        <div class="row justify-content-center collapse" id="collapseSearch">
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select id="baseFood" class="w-100 selectpicker" data-style="btn-select" multiple title="Yemek Seçiniz..." data-dropup-auto="false">
                                    <optgroup label="Et">
                                        <option>Kırmızı Et</option>
                                        <option>Tavuk</option>
                                        <option>Balık</option>
                                    </optgroup>
                                    <optgroup label="Vegan">
                                        <option>Sebze</option>
                                        <option>Bakliyat</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select disabled name="specFood" id="specFood" class="w-100 selectpicker" data-style="btn-select" multiple title="Genel Yemek Seçiniz..." data-dropup-auto="false">
                                    <option>Burger</option>
                                    <option>Schnitzel</option>
                                    <option>Izgara</option>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <select name="priority" class="w-100 selectpicker" data-style="btn-select" multiple title="Restoranda sizin için ne önemli?" data-dropup-auto="false">
                                    <option>Lezzet</option>
                                    <option>Fiyat</option>
                                    <option>Hız</option>
                                </select>
                            </div>
                            <div class=".col-12 col-md-8 col-lg-6 multiselect-margin">
                                <button class="w-50 btn btn-success" type="submit">Restoranları Filtrele</button>
                            </div>
                        </div>
                    </form>
                    <br><h2>Önerilen Restoranlar</h2>
            </div>
            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/Burger-Restaurant-PNG-Free-Download.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Restoran 1</h5>
                                    <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/Burger-Restaurant-PNG-Free-Download.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Restoran 2</h5>
                                    <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <a href="restoran">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/Burger-Restaurant-PNG-Free-Download.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>Restoran 3</h5>
                                    <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end restaurant section -->
<%- include('partials/footer') %>