<%- include('partials/header') %>

    <!-- search section -->
    <div class="container">
        <div class="heading_container heading_center">
            <h1 class="search-h1">Ne Yemek İstersin ?</h1>

            <select class="form-select select-style" aria-label="Default select example">
                <option selected>Yemek seçiniz</option>
                <option value="1">Tavuk</option>
                <option value="2">Et</option>
                <option value="3">Balık</option>
            </select>

            <select class="form-select select-style" aria-label="Default select example">
                <option selected>Spesifik yemek seçiniz</option>
                <option value="1">Cajun Tavuk</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <select class="form-select select-style" aria-label="Default select example">
                <option selected>Restoranda sizin için ne önemli</option>
                <option value="1">Lezzet</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <div class="col-sm-6">
                <button class="search-button">Filtre Ekle</button>
                <button class="search-button">Filtrele</button>
            </div>
        </div>
    </div>
    <!-- end search section -->
<%- include('partials/footer') %>