<%- include('partials/header') %>
    <!-- food section -->
    <section class="food_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Menü</h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>           <!-- Filtre çeviri -->
                <li data-filter=".burger">Hamburger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">Atıştırmalık</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Margarita Pizza</h5>
                                <p>domates, mozarella, fesleğen, zeytinyağ pizza. İsteğe bağlı ekstra malzeme ekletebilirsiniz.</p>  <!-- margarita pizza aciklama -->
                                <div class="options">
                                    <h6>100₺</h6>
                                </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Klasik Burger</h5>
                                <p>Özel hamburger koftesi, kıvırcık, domates, turşu, patates kızartması coslow ve garlic sos ile servis edilir.</p> <!-- klasik burger aciklama -->
                                <div class="options">
                                    <h6>80₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Pizza</h5> 
                                <p>Biber, kabak, mısır, peynir, domates ve fesleğenli pizza. İsteğe bağlı mozarella peyniri ile servis edilir.</p>  <!-- sebzeli pizza açıklama-->
                                <div class="options">
                                    <h6>120₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f4.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Makarna</h5>
                                <p>Zeytinli, domatesli, mısırlı makarna. Dilerseniz domates sosu ile servis edilir. </p> <!-- sebzeli makarna açıklama -->
                                <div class="options">
                                    <h6>75₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all fries">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f5.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Patates Kızartması</h5>
                                <p>Ketçap ve mayonez eşliğinde sıcak patates kızartması</p> <!-- patates kızartması açıklama -->
                                <div class="options">
                                    <h6>30₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f6.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Karışık Pizza</h5>
                                <p> Mantar, kaşar peyniri, domates, sucuk, salam ve sosisli pizza.</p> <!-- karışık pizza açıklama -->
                                <div class="options">
                                    <h6>150₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f7.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Tavuklu Hamburger</h5>
                                <p>Schnitzel, kıvırcık, domates, turşu, patates kızartması ile servis edilir. </p> <!-- tavuk burger açıklama -->
                                <div class="options">
                                    <h6>70₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f8.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Balık Hamburger</h5>
                                <p>Balık, kıvırcık, domates, turşu, patates kızartması ile servis edilir.</p> <!-- balık hamburger açıklama -->
                                <div class="options">
                                    <h6>110₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f9.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Mozerella Makarna</h5>
                                <p>Mozarella peynirli makarna. Dilerseniz nane ve susamla servis edilir.</p> <!-- mozarella makarna açıklama -->
                                <div class="options">
                                    <h6>85₺</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">View More</a>
            </div>
        </div>
    </section>
    <!-- end food section -->
<%- include('partials/footer') %>