<%- include('partials/header') %>
    <!-- offer section -->
    <div class="heading_container heading_center">
        <h2>Restoranlar</h2>
    </div>
    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/rosemary.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6  ">
                        <a href="restoran">
                            <div class="box restoranlar-part">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="">
                                </div>
                                <div class="detail-box restoranlar-detay">
                                    <h2>Rosemary</h2>
                                    <h6>Tel No: 0532 589 03 51</h6>
                                    <h6>Çalışma Saatleri: 09.00 - 02.00</h6>
                                    <div class="ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end offer section -->
<%- include('partials/footer') %>