<%- include('partials/header') %>
    <!-- food section -->
    <section class="food_section layout_padding food_layout">
        <div class="container">
            <div class="heading_container heading_center">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Restoran1 Menu</h2>
                    </div>
                    <div class="col-lg-6 alert alert-warning">
                        <p>0555 555 55 55</p>
                        <p>Çalışma Saatleri: 9:00 - 23:00</p>
                        <button class="btn btn-secondary">Konum</button>
                    </div>
                    <!-- <div class="card bg-light mb-3" style="max-width: 20rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                          <h5 class="card-title">Light Panel title</h5>
                          <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        
            <ul class="filters_menu">
                <li class="active" data-filter="*">Hepsi</li>
                <li data-filter=".burger">Burger</li>
                <li data-filter=".pizza">Pizza</li>
                <li data-filter=".pasta">Makarna</li>
                <li data-filter=".fries">İçecekler</li>
            </ul>
        
            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f1.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Sebzeli Pizza</h5>
                                <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                <div class="options">
                                    <h6>$20</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f2.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Klasik Burger</h5>
                                <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                <div class="options">
                                    <h6>$15</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div class="img-box">
                                <img src="images/f3.png" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>Karışık Pizza</h5>
                                <p>Veniam debitis quaerat officiis quasi cupiditate quo, quisquam velit, magnam voluptatem repellendus sed eaque</p>
                                <div class="options">
                                    <h6>$17</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end food section -->

    <!-- client section -->
    <section class="client_section layout_padding-bottom client-bottom">
        <div class="container">
            <div class="heading_container heading_center psudo_white_primary mb_45">
                <h2>Müşteri yorumları</h2>
            </div>
            <div class="carousel-wrap row ">
                <div class="owl-carousel client_owl-carousel">
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <h6>Moana Michell</h6>
                                <p>magna aliqua</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box">
                            <div class="detail-box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                <h6>Mike Hamell</h6>
                                <p>magna aliqua</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end client section -->
<%- include('partials/footer') %>